* {
  margin: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
}

.grid{
  width: 500px;
  height: 500px;
  margin: auto;
}

.grid:after{
  content: '';
  display: table;
  clear: both;
}

.col{
  width: 33.33%;
  float: left;
}

.box {
  width: 100%;
  border: 5px solid grey;
  height: 100px;
  text-align: center;
  font-size: 5em;
  font-weight: 600;
}


.left {
  border-left: none;
}

.right {
  border-right: none;
}

.top {
  border-top: none;
}

.bottom {
  border-bottom: none;
}
